<div class="navbar navbar-inverse " role="navigation">
    <div class="menu_container">
        <div class="navbar-header">
             
            <a class="navbar-brand" href="{{ router.url('home_page') }}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="first">
                    <a href="{{ logout }}" title="Logout">
                        <span class="glyphicon glyphicon-off">Déconnexion</span>
                    </a>
                </li>
                <li class="second">
                    <a href="{{ router.url('api_room_tchat') }}" title="Tchat">
                        <span class="glyphicon">Tchat</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>